@charset 'utf-8';
/**
 * print-other.css
 * Print legal and resources
 *
 * Copyright 2013 Thomas Morrison, all right reserved.
 */

/** @Hide */
#road_side, footer, header h6, nav, #h, #midleftlabels, #bottomLine {
	display: none;
}

/** @Resize */
#left_side {
	text-align:right;width:100%; height:100%; position:absolute;
}
#expnd {
	height:auto;
}