@charset 'utf-8';
/**
 * print.css
 * Prints the results only
 *
 * Copyright 2013 Thomas Morrison, all right reserved.
 */

/** @Hide*/
#road_side, footer, header h6, nav, #h, #midleftlabels, #bottomLine, #outerq p, #botleftlabel, #prog {
	display:none;
	visibility:hidden; /*some elements will still show*/
}

/** @Change Content */
/* add no print text */
#outerq:after {
	position:absolute;
	left:0;
	content:'No Printing Please';
}
/* expand side to take up whole page*/
#left_side {
	text-align:right;width:100%; height:100%; position:absolute; left:0;right:auto;
}
#table {
	height:auto;
	overflow:hidden;
}